extends layout

block content
    h1 All Students

    table(border=1)
        tr
            th ID
            th Name

        each item in data
            tr
                td #{item.id}
                td 
                    a(href="/student/" + item.id) #{item.name}